.item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  background-position-x: center;
  background-position-y: center;
  transition: all 0.5s ease-in-out;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.5em;
  background-color: #f1f1f1;
  color: #555;
  font-size: 0.8em;
}
